.feautures {
  padding: 95px;
  background-color: #eceef1;
}

.feautures__top {
  max-width: 630px;
}

.feautures__heading {
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: #2D314D;
  margin-bottom: 15px;
}

.feautures__text {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
  margin: 0;
}

.feautures__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 72px 0 10px 0;
}

.feauture {
  max-width: 250px;
  margin-right: 30px;
}

.feauture::before {
  display: block;
  width: 72px;
  height: 72px;
  content: "";
}

.feauture:nth-child(1)::before {
  background-image: url("../img/card.png");
}

.feauture:nth-child(2)::before {
  background-image: url("../img/cash.png");
}

.feauture:nth-child(3)::before {
  background-image: url("../img/unboarding.png");
}

.feauture:nth-child(4)::before {
  background-image: url("../img/api.png");
}

.feauture__heading {
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.428571px;
  color: #2D314D;
  margin-bottom: 20px;
}

.feauture__paragraph {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: #9597A5;
  margin: 0;
}

@include breakpoint-down (1340px) {
.feauture {
  max-width: 230px;
}
}

@include breakpoint-down (1270px) {
  .feauture {
    max-width: 100%;
    width: 250px;
    margin-right: 10px;
  }

  .feautures__list {
    justify-content: space-around;
  }
  }

  @include breakpoint-down (1260px) {
    .feauture {
      max-width: 50%;
      width: 50%;
      margin-right: 0;
      padding: 0 15px;
      margin-bottom: 40px;
    }

    .feautures__list {
      display: flex;
      justify-content: space-between;
    }
  }

  @include breakpoint-down (710px) {
    .feautures {
      padding: 95px 20px;
    }
    .feautures__top {
      text-align: center;
    }
    .feauture {
      max-width: 100%;
      width: 100%;
      margin-right: 0;
      padding: 0;
      margin-bottom: 40px;
      text-align: center;
    }

    .feauture::before {
      margin-left: auto;
      margin-right: auto;
    }

  }

